@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.border {
  border: 1px solid red;
  margin: 3px;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.bg-black {
  background-color: black;
  color: white;
}
.invert {
  filter: invert(1);
}
.bg-grey {
  background-color: #121212;
}
.rounded {
  border-radius: 7px;
}
.m-1 {
  margin: 5px;
}
.p-1 {
  padding: 10px;
}

/* Works in Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark background */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #444; /* Dark grey scrollbar */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Lighter grey on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}

